<main class="main">
  <!-- <section class="filters">
    <input type="text" (keyup)="setCarts()" [(ngModel)]="search" />
    <button (click)="setSort(0)">name</button>
    <button (click)="setSort(1)">price</button>
  </section> -->

  <app-filters
    [search]="search"
    [historyClick]="historyClick"
    (setCarts)="setCarts($event)"
    (setSort)="setSort($event)"
  ></app-filters>

  <app-carts [carts]="carts" [filterCarts]="filterCarts"></app-carts>
</main>

<!-- Чут чут  мало контента, но постарался заюзать классы, интерф, пайпы, ngs -->
